body {
    margin: 0;
}

.bgOne {
    background-color: rgb(255, 202, 122);
}

h1, h2, form , footer {
    text-align: center;
    padding: 20px;
}

a {
    color:rgb(250, 142, 0)
}

h2 {
    color: rgb(250, 142, 0);
    margin: 0;
}

h1, footer {
    background-color: rgb(250, 142, 0);
    margin: 0;
    padding: 30px;
}

table, th, td {
    border: 1px solid rgb(250, 142, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

img {
    width: 50%;
    height: 50%;
}

label, button, textarea {
    margin: 10px;
}

label {
    color: rgb(250, 142, 0);
}

button {
    background-color: rgb(250, 142, 0);
    border: 5px solid black;
    padding: 10px
}

button:hover {
    background-color: white;
}

textarea {
        margin-left: auto;
    margin-right: auto;
}

.functional-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px
}

.blackLinks {
    color: black
}

.display-none {
    display: none
}