body {
    margin: 0;
}

#main-container {
    background-color: rgb(255, 202, 122);
}

/* .bgImg1 {
    background-image: url(https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80);
    background-position: center;
    background-repeat: no-repeat;
}

.bgImg2 {
        background-image: url(https://images.unsplash.com/photo-1612892483236-52d32a0e0ac1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80);
    background-position: center;
    background-repeat: no-repeat;
} */

h1, h2, form , footer {
    text-align: center;
    padding: 20px;
}

a {
    color:rgb(250, 142, 0)
}

h2 {
    color: rgb(250, 142, 0);
    margin: 0;
}

h1, footer {
    background-color: rgb(250, 142, 0);
    margin: 0;
    padding: 30px;
}

table, th, td {
    border: 1px solid rgb(250, 142, 0);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

img {
    width: 50%;
    height: 50%;
}

label, button, textarea {
    margin: 10px;
}

label {
    color: rgb(250, 142, 0);
}

button {
    background-color: rgb(250, 142, 0);
    border: 5px solid black;
    padding: 10px
}

button:hover {
    background-color: white;
}

textarea {
        margin-left: auto;
    margin-right: auto;
}

.functional-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px
}

.blackLinks {
    color: black
}

.display-none {
    display: none
}